doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    input(type='text' id="skeleton" style='display:none;' value= skeleton)
    block content
  
  script(src='/javascripts/jquery.min.js')
  script(src='/javascripts/functions.js')
  script(src='/javascripts/main.js')
